#app {
	display: grid;
	grid-template-rows: 2em 1fr 15vh;
	grid-template-columns: 100px 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-areas:
		"leftbar leftimgheader leftimgheader leftimgheader rightimgheader rightimgheader rightimgheader"
		"leftbar leftimg leftimg leftimg rightimg rightimg rightimg"
		"leftbar keepleft keepleft skip skip keepright keepright";
	justify-items: center;

	height: 100%;
	width: 100%;

	--marginsize: 10px;
}

#leftbar {
	grid-area: leftbar;
	place-self: stretch;
	background: pink;
}

#leftimgheader {
	grid-area: leftimgheader;
	place-self: stretch;

	margin-left: var(--marginsize);
	margin-right: calc(var(--marginsize) / 2);
	margin-bottom: calc(var(--marginsize) / 2);

	background: black;
}

#rightimgheader {
	grid-area: rightimgheader;
	place-self: stretch;

	margin-left: calc(var(--marginsize) / 2);
	margin-right: var(--marginsize);
	margin-bottom: calc(var(--marginsize) / 2);

	background: white;
}

#leftimg {
	grid-area: leftimg;
	place-self: stretch;

	margin-left: var(--marginsize);
	margin-right: calc(var(--marginsize) / 2);
	margin-top: calc(var(--marginsize) / 2);
	margin-bottom: calc(var(--marginsize) / 2);

	background: lightblue;
}

#rightimg {
	grid-area: rightimg;
	place-self: stretch;

	margin-left: calc(var(--marginsize) / 2);
	margin-right: var(--marginsize);
	margin-top: calc(var(--marginsize) / 2);
	margin-bottom: calc(var(--marginsize) / 2);

	background: lightcoral;
}

#keepleft {
	grid-area: keepleft;
	place-self: stretch;

	display: flex;
	justify-content: center;
	align-items: center;

	margin-left: var(--marginsize);
	margin-right: calc(var(--marginsize) / 2);
	margin-top: calc(var(--marginsize) / 2);
	margin-bottom: var(--marginsize);

	background: orange;
}

#skip {
	grid-area: skip;
	place-self: stretch;

	display: flex;
	justify-content: center;
	align-items: center;

	margin-left: calc(var(--marginsize) / 2);
	margin-right: calc(var(--marginsize) / 2);
	margin-top: calc(var(--marginsize) / 2);
	margin-bottom: var(--marginsize);

	background: purple;
}

#keepright {
	grid-area: keepright;
	place-self: stretch;

	display: flex;
	justify-content: center;
	align-items: center;

	margin-left: calc(var(--marginsize) / 2);
	margin-right: var(--marginsize);
	margin-top: calc(var(--marginsize) / 2);
	margin-bottom: var(--marginsize);

	background: lightgreen;
}

.margin-area {
	margin: 10px;
}
